@model GiveAwayFundClientProject.Models.ViewModels.NGO

@{
    ViewData["Title"] = "DeleteNgo";
}

<h1>DeleteNgo</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NGO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgoPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgoPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgoMailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgoMailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgoAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgoAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgoUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgoUserName)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgoPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgoPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgoConfirmPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgoConfirmPassword)
        </dd>*@
    </dl>
    
    <form asp-action="DeleteNgo">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
