
@{
    ViewData["Title"] = "Index";
}

@*<h1>Welcome to Fund Raiser Page </h1>



    @Html.ActionLink("Apply for Verification", "ApplyforVerification", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Raise Events", "CheckforStatus", "FundRaiser", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Rasied Events", "RaisedEvents", "FundRaiser", new { id = Convert.ToInt32(TempData.Peek("ngoid")) })*@



<head>
    <link href="~/css/Admin.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
            <header>
                <a href="#">Welcome @TempData["ngoname"]</a><br />
            </header>
            <ul class="nav">
                <li>
                    @Html.ActionLink("Apply for Verification", "ApplyforVerification", new { /* id=item.PrimaryKey */ })<br /><br />

                </li>
                <li>
                    @Html.ActionLink("Raise Events", "CheckforStatus", "FundRaiser", new { /* id=item.PrimaryKey */ })<br /><br />

                </li>
                <li>
                    @Html.ActionLink("Rasied Events", "RaisedEvents", "FundRaiser", new { id = Convert.ToInt32(TempData.Peek("ngoid")) })<br /><br />
                </li>
                <li>
                    @Html.ActionLink("Fund Progress", "GetStat", "FundRaiser", new { id = Convert.ToInt32(TempData.Peek("ngoid")) })<br /><br />
                </li>
                @*<li>
            <a href="#">
                <i class="zmdi zmdi-calendar"></i> Events
            </a>
        </li>
        <li>
            <a href="#">
                <i class="zmdi zmdi-info-outline"></i> About
            </a>
        </li>
        <li>
            <a href="#">
                <i class="zmdi zmdi-settings"></i> Services
            </a>
        </li>
        <li>
            <a href="#">
                <i class="zmdi zmdi-comment-more"></i> Contact
            </a>
        </li>*@
            </ul>
        </div>
        @*<div>
            <img src="~/Images/Give-Clothes-to-Charity-London-1920x700.jpg" width="1000" height="600" />
        </div>*@
    <div class="wrapper">
        <div class="card">
            @*<input type="checkbox" id="card1" class="more" aria-hidden="true">*@
            <div class="content">
                <div class="front" style="background-image: url('https://images.unsplash.com/photo-1529408686214-b48b8532f72c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=986e2dee5c1b488d877ad7ba1afaf2ec&auto=format&fit=crop&w=1350&q=80')">
                    <div class="inner">
                        <h2>Isha Foundation</h2>
                        @*<div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>*@
                        <label for="card1" class="button" aria-hidden="true">
                            Details
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        @*<div class="info">
                            <span>5</span>
                            <div class="icon">
                                <i class="fas fa-users"></i>
                                <span>people</span>
                            </div>
                        </div>
                        <div class="info">
                            <span>4</span>
                            <div class="icon">
                                <i class="fas fa-door-open"></i>
                                <span>rooms</span>
                            </div>
                        </div>
                        <div class="info">
                            <span>3</span>
                            <div class="icon">
                                <i class="fas fa-bed"></i>
                                <span>beds</span>
                            </div>
                        </div>
                        <div class="info">
                            <span>1</span>
                            <div class="icon">
                                <i class="fas fa-bath"></i>
                                <span>bath</span>
                            </div>
                        </div>*@
                        <div class="description">
                            <p>
                                Isha Vidhya Education
                            </p>
                            <p>
                                Isha Vidhya is committed to raising the level of education and literacy in rural India and helping disadvantaged children realize their full potential. The project seeks to ensure quality education for children in rural areas, opening the door for them to participate in and benefit from India's economic growth.
                            </p>
                        </div>
                        @*<div class="location">Warsaw, Poland</div>
                        <div class="price">38€ / day</div>*@
                        <label for="card1" class="button return" aria-hidden="true">
                            <i class="fas fa-arrow-left"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <input type="checkbox" id="card2" class="more">
            <div class="content">
                <div class="front" style="background-image: url('https://images.unsplash.com/photo-1515263487990-61b07816b324?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c02fb96f9cfc16d3649835b75d1b2033&auto=format&fit=crop&w=1350&q=80')">
                    <div class="inner">
                        <h2>Smile Foundation</h2>
                        @*<div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                        </div>*@
                        <label for="card2" class="button" aria-hidden="true">
                            Details
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="info">
                            <span>4</span>
                            <div class="icon">
                                <i class="fas fa-users"></i>
                                <span>people</span>
                            </div>
                        </div>
                        <div class="info">
                            <span>3</span>
                            <div class="icon">
                                <i class="fas fa-door-open"></i>
                                <span>rooms</span>
                            </div>
                        </div>
                        <div class="info">
                            <span>2</span>
                            <div class="icon">
                                <i class="fas fa-bed"></i>
                                <span>beds</span>
                            </div>
                        </div>
                        <div class="info">
                            <span>1</span>
                            <div class="icon">
                                <i class="fas fa-bath"></i>
                                <span>bath</span>
                            </div>
                        </div>
                        <div class="description">
                            <p>
                                Smile Foundation
                            </p>
                            <p>
                                Smile Foundation, an NGO for poor child education, is an NGO in India directly benefitting over 15,00,000 children and their families every year, through more than 400 live welfare projects on education, healthcare, livelihood and women empowerment, in over 2000 remote villages and slums across 25 states of India.
                            </p>
                            @*<ul>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                                <li>Lorem ipsum dolor sit amet consectetur.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                            </ul>*@
                        </div>
                        @*<div class="location">Warsaw, Poland</div>
                        <div class="price">42€ / day</div>*@
                        <label for="card2" class="button return" aria-hidden="true">
                            <i class="fas fa-arrow-left"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <input type="checkbox" id="card3" class="more">
            <div class="content">
                <div class="front" style="background-image: url('https://images.unsplash.com/photo-1529595354331-201ad3ae5e71?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6114533e2d0c1c81534fe13611dbfd76&auto=format&fit=crop&w=658&q=80')">
                    <div class="inner">
                        <h2>Luxury property</h2>
                        @*<div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>*@
                        <label for="card3" class="button" aria-hidden="true">
                            Details
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="info">
                            <span>8</span>
                            <div class="icon">
                                <i class="fas fa-users"></i>
                                <span>people</span>
                            </div>
                        </div>
                        <div class="info">
                            <span>7</span>
                            <div class="icon">
                                <i class="fas fa-door-open"></i>
                                <span>rooms</span>
                            </div>
                        </div>
                        <div class="info">
                            <span>5</span>
                            <div class="icon">
                                <i class="fas fa-bed"></i>
                                <span>beds</span>
                            </div>
                        </div>
                        <div class="info">
                            <span>2</span>
                            <div class="icon">
                                <i class="fas fa-bath"></i>
                                <span>baths</span>
                            </div>
                        </div>
                        <div class="description">
                            <p>
                                HelpAge India
                            </p>
                            <p>
                                HelpAge India is a leading charity in India working with and for the disadvantaged elderly for over 4 decades. It was set up in 1978 and is registered under the Societies’ Registration Act of 1860. There are an estimated 104 million elderly in India. HelpAge advocates for their needs such as for universal pension, quality healthcare, action against elder abuse and many more at national, state and societal level with in collaboration with central and state governments. It advocates for elder-friendly policies and their implementation thereof. It works hand-in-hand with senior citizens associations understanding elder needs working with and for them.
                            </p>
                        </div>
                        @*<div class="location">Cracow, Poland</div>
                        <div class="price">60€ / day</div>*@
                        <label for="card3" class="button return" aria-hidden="true">
                            <i class="fas fa-arrow-left"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
